 :root {
     --main-bg-color: #5A2468;
     --futvsputaria-bg-color: white;
     --romantismo-bg-color: #EE527C;
     --campeoes-bg-color: white;
     --argentina-bg-color: #3BA3B2;
     --argentina-title-bg-color: white;
     --russia-bg-color: #292A66;
     --alemanha-bg-color: white;
     --footer-bg-color: #50B169;
 }

 body {
     margin: 0;
     font-family: 'Source Sans Pro', sans-serif;
     -webkit-font-smoothing: antialiased;
 }
 
 .block {
     max-width: 1170px;
     margin: auto;
     display: block;
     width: 100%;
 }

 .apresentation {
    background: var(--main-bg-color);
}

.putariavsfut {
    background: var(--futvsputaria-bg-color);
}

.romantismo {
    background: var(--romantismo-bg-color);
}

.campeoes {
    background: var(--campeoes-bg-color);
}

.argentina-title {
    background: var(--argentina-title-bg-color);
}

.argentina {
    background: var(--argentina-bg-color);
}

.russia {
    background: var(--russia-bg-color);
}

.alemanha {
    background: var(--alemanha-bg-color);
}

.division {
    height: 50px;
}

.footer-text {
    text-align: center;
    font-size: 20px;
    color: white;
}

.img-footer {
    margin-bottom: 30px 
}

.footer-bold {
    color: var(--main-bg-color);
}

.footer {
    padding: 100px;
    background: var(--footer-bg-color);
}

@media (min-width: 920px) {
    .division {
        height: 100px;
    }
}

