 :root {
     --main-bg-color: #5A2468;
     --futvsputaria-bg-color: white;
     --romantismo-bg-color: #EE527C;
     --campeoes-bg-color: white;
     --argentina-bg-color: #3BA3B2;
     --argentina-title-bg-color: white;
     --russia-bg-color: #292A66;
     --alemanha-bg-color: white;
     --footer-bg-color: #50B169;
 }

 body {
     margin: 0;
     font-family: 'Source Sans Pro', sans-serif;
     -webkit-font-smoothing: antialiased;
 }

 .block {
     max-width: 1170px;
     margin: auto;
     display: block;
     width: 100%
 }

 .apresentation {
     background: var(--main-bg-color);
 }

 .putariavsfut {
     background: var(--futvsputaria-bg-color);
 }

 .romantismo {
     background: var(--romantismo-bg-color);
 }

 .campeoes {
     background: var(--campeoes-bg-color);
 }

 .argentina-title {
     background: var(--argentina-title-bg-color);
 }

 .argentina {
     background: var(--argentina-bg-color);
 }

 .russia {
     background: var(--russia-bg-color);
 }

 .alemanha {
     background: var(--alemanha-bg-color);
 }

 .division {
     height: 50px;
 }

 .division-sm {
     height: 25px;
 }

 .header-text {
    font-size: 16px;
    color: white;
    display: block;
    width: 50%;
    padding-top: 10px;
    text-align: end;
    text-decoration: none;
    margin: auto;
}

 .footer-text {
     text-align: center;
     font-size: 16px;
     color: white;
     display: flex;
     flex-direction: column;
 }

 .img-footer {
     margin: 20px 0;
     width: 200px;
 }

 .footer-bold {
     color: var(--main-bg-color);
 }

 .footer-bold-link {
     color: var(--main-bg-color);
     font-size: 20px;
     text-decoration: none;
     font-family: 'Khand', sans-serif;
     font-weight: bold;
 }

 .footer {
     padding: 20px;
     background: var(--footer-bg-color);
 }

 @media (min-width: 920px) {
     .division {
         height: 100px;
     }
     .division-sm {
         height: 40px;
     }
     .footer {
        padding: 100px;
     }
     .footer-text {
     font-size: 22px;
     }
     .footer-bold-link {
        font-size: 26px;
     }
 }